:root {
  --primary: #000000;
  --primary-text: #ffffff;
  --secondary: #00000000;
  --secondary-text: #ffffff;
  --accent: #66606069;
  --accent-text: #000000;
  --font-family: pixellari;
}
@font-face {
  font-family: pixellari;
  src: url(pixellari-webfont.woff);
}
*{
  font-family: pixellari;
}
